<!-- START: Back to top-->
<a href="#" class="scrollup text-center"> 
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->


<!-- START: Template JS-->
<script src="/static/vendors/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/vendors/moment/moment.js"></script>
<script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>    
<script src="/static/vendors/slimscroll/jquery.slimscroll.min.js"></script>
<!-- END: Template JS-->

<!-- START: APP JS-->
<script src="/static/js/app.js"></script>
<!-- END: APP JS-->

<!-- START: Page JS-->
<script src="/static/js/home.script.js"></script>
<!-- END: Page JS-->
