<meta charset="UTF-8">
<title>Games</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- START: Template CSS-->
<link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendors/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/static/vendors/jquery-ui/jquery-ui.theme.min.css">
<link rel="stylesheet" href="/static/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="/static/vendors/flags-icon/css/flag-icon.min.css">
<!-- END Template CSS-->


<!-- START: Page CSS-->
<link rel="stylesheet" href="/static/vendors/morris/morris.css">
<link rel="stylesheet" href="/static/vendors/weather-icons/css/pe-icon-set-weather.min.css">
<link rel="stylesheet" href="/static/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/static/vendors/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/static/vendors/jquery-jvectormap/jquery-jvectormap-2.0.3.css">
<!-- END: Page CSS-->

<!-- START: Custom CSS-->
<link rel="stylesheet" href="/static/css/main.css">
<!-- END: Custom CSS-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>