<div class="site-width">
    <!-- START: Menu-->
    <ul id="side-menu" class="sidebar-menu">
        <li class="dropdown active"><a href="#"><i class="icon-home mr-1"></i> GAMES</a>                  
            <ul>
                <li class="active"><a href="/dashboard"><i class="icon-rocket"></i> Dashboard</a></li>
                <li><a href="/user-games"><i class="icon-grid"></i> User Games</a></li>
            </ul>
        </li>
    </ul>
</div>