<!DOCTYPE html>
<html lang="en">
    <!-- START: Head-->
    <head>
        <%- include('../partials/head'); %>
    </head>
    <!-- END Head-->

    <!-- START: Body-->   
    <body id="main-container" class="default bg-primary">
        <!-- START: Main Content-->
        <div class="container">
            <div class="row vh-100 justify-content-between align-items-center">
                <div class="col-12">
                    <div  class="lockscreen  mt-5 mb-5">
                        <div class="jumbotron mb-0 text-center theme-background rounded">
                            <h1 class="display-3 font-weight-bold"> 404</h1>
                            <h5><i class="ion ion-alert pr-2"></i>Oops! Something went wrong</h5>
                            <p>The page you are looking for is not found, please try after some time or go back to home</p>
                            <a href="/dashboard" class="btn btn-primary">Go To Home</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END: Content-->

        <%- include('../partials/foot'); %>
    </body>
    <!-- END: Body-->
</html>
